/* Swiper------------------------------------*/
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper .swiper-slide {
  height: 300px;
  line-height: 300px;
}
/*----------------------------------------------------------*/
.swiper-slide.active {
  display: block;
}
.swiper-slide.active {
  background-color: #000000;
}

/*--------------------------------------------*/

a {
    text-decoration: none;
    color: #f1f1f1;
}
.wrapper {
  position: relative;
    max-width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav {
  display: none;
}

.mobileNav {
  display: none;
  transform: translateY(-150%);
  animation: ani 1s forwards;
  
}

@keyframes ani {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}

.nav__ul {
    display: flex;
    column-gap: 10px;
}

.nav__li {
    display: inline-block;
    list-style-type: none;
}

.burgerMenu {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(https://diamondbar.ru/assets/icons/new/menu/open_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.basic {
    text-align: center;
}

.slider__wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slider {
  position: relative;
}

/* Галлерея---------------*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 9px);
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:darkorange;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.slide {
    display: none;
}

.slide__img {
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slide_active {
    display: block;
}

.dots {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color:pink;
    border-radius: 50%;
}

.dots_active, .dot:hover {
    background-color: #717171;
  }

.slide {
    transition-duration: 1s;
}

.slide_fade:hover {
    opacity: 0.6;
    transform: scale(1.1);
}




/* Modal window-----------------*/

.modal__img {
    object-fit: cover;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  
  /* Modal Content (image) */
  .modal-content {
    position: relative;
    margin: auto;
    display: block;
    width: 100vw;
    /*max-width: 1000px;*/
  }
  
  /* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 10px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
